In [31]:
import pandas
import csv
import numpy
from os.path import abspath

# Question 1
# ----------------
# How many features are there?
# ----------------

print("There are 8 features:\n"
    "Cust ID, Gender, Income, Age, Rentals, Avg Per Visit, Incidentals, and Genre.")

There are 8 features:
Cust ID, Gender, Income, Age, Rentals, Avg Per Visit, Incidentals, and Genre.

In [28]:
# Question 2
# ----------------
# How many features are continuous, and how many are nominal?
# ----------------

df = pandas.DataFrame({'Continuous': ['Cust ID', 'Income', 'Age', 'Rentals', 'Avg Per Visit'],
                       'Nominal': ['Gender', 'Incidentals', 'Genre', '', '']})

print("There are 5 continuous attributes and 3 nominal attributes.\n\n", df)

There are 5 continuous attributes and 3 nominal attributes.

       Continuous      Nominal
0        Cust ID       Gender
1         Income  Incidentals
2            Age        Genre
3        Rentals
4  Avg Per Visit

In [32]:
# Question 3
# ----------------
# For the continuous features, what are the average, median, maximum, and minimum values? 
# What is the standard deviation?
# ----------------

# Import .tsv file
path = abspath("Video_Store.tsv")

df1 = pandas.read_csv(path, sep='\t', usecols=['Cust ID', 'Gender', 'Income', 'Age', 'Rentals', 'Avg Per Visit', 'Incidentals', 'Genre'])

print(df1)

    Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0         1      M  $45,000   25       27            2.5         Yes  Action
1         2      F  $54,000   33       12            3.4          No   Drama
2         3      F  $32,000   20       42            1.6          No  Comedy
3         4      F  $59,000   70       16            4.2         Yes   Drama
4         5      M  $37,000   35       25            3.2         Yes  Action
5         6      M  $18,000   20       33            1.7          No  Action
6         7      F  $29,000   45       19            3.8          No   Drama
7         8      M  $74,000   25       31            2.4         Yes  Action
8         9      M  $38,000   21       18            2.1          No  Comedy
9        10      F  $65,000   40       21            3.3          No   Drama
10       11      F  $41,000   22       48            2.3         Yes   Drama
11       12      F  $26,000   22       29            2.9         Yes  Action
12       13      M  $83,000   46       14            3.6          No  Comedy
13       14      M  $45,000   36       24            2.7          No   Drama
14       15      M  $68,000   30       36            2.7         Yes  Comedy
15       16      M  $17,000   19       26            2.2         Yes  Action
16       17      M  $36,000   35       28            3.5         Yes   Drama
17       18      F   $6,000   16       39            1.8         Yes  Action
18       19      F  $24,000   25       41            3.1          No  Comedy
19       20      M  $12,000   16       23            2.2         Yes  Action
20       21      F  $47,000   52       11            3.1          No   Drama
21       22      M  $25,000   33       16            2.9         Yes   Drama
22       23      F   $2,000   15       30            2.5          No  Comedy
23       24      F  $79,000   35       22            3.8         Yes   Drama
24       25      M   $1,000   16       25            1.4         Yes  Comedy
25       26      F  $56,000   35       40            2.6         Yes  Action
26       27      F  $62,000   47       32            3.6          No   Drama
27       28      M  $57,000   52       22            4.1          No  Comedy
28       29      F  $15,000   18       37            2.1         Yes  Action
29       30      M  $41,000   25       17            1.4         Yes  Action
30       31      F  $49,000   56       15            3.2          No  Comedy
31       32      M  $47,000   30       21            3.1         Yes   Drama
32       33      M  $23,000   25       28            2.7          No  Action
33       34      F  $29,000   32       19            2.9         Yes  Action
34       35      M  $74,000   29       43            4.6         Yes  Action
35       36      F  $29,000   21       34            2.3          No  Comedy
36       37      M  $89,000   46       12            1.2          No  Comedy
37       38      M  $41,000   38       20            3.3         Yes   Drama
38       39      F  $68,000   35       19            3.9          No  Comedy
39       40      M  $17,000   19       32            1.8          No  Action
40       41      F  $50,000   33       17            1.4          No   Drama
41       42      M  $32,000   25       26            2.2         Yes  Action
42       43      F  $49,000   28       48            3.3         Yes   Drama
43       44      M  $35,000   24       24            1.7          No   Drama
44       45      M  $56,000   38       30            3.5         Yes   Drama
45       46      F  $57,000   43        9            1.1          No   Drama
46       47      F  $69,000   35       22            2.8         Yes   Drama
47       48      F  $52,000   47       14            1.6          No   Drama
48       49      M  $31,000   25       42            3.4         Yes  Action
49       50      M  $24,000   20       33            4.7          No  Action

In [12]:
def Question3():

# Remove the '$' and ',' in the Income column in order to cast as float for calculations
  df1['Income'] = df1['Income'].str.replace('\$', '')
  df1['Income'] = df1['Income'].str.replace('\,', '')
  df1['Income']= df1['Income'].astype(float)

# Display all calculations 
  print("Income mean: ", df1['Income'].mean())
  print("Income median: ", df1['Income'].median())
  print("Income minimum: ", df1['Income'].min())
  print("Income maximum: ", df1['Income'].max())
  print("Income standard deviation: ",df1['Income'].std())

  print("Age mean: ", df1['Age'].mean())
  print("Age median: ", df1['Age'].median()) 
  print("Age minimum: ", df1['Age'].min())
  print("Age maximum: ", df1['Age'].max())
  print("Age standard deviation: ", df1['Age'].std())

  print("Rentals mean: ", df1['Rentals'].mean())
  print("Rentals median: ", df1['Rentals'].median())
  print("Rentals minimum: ", df1['Rentals'].min())
  print("Rentals maximum: ", df1['Rentals'].max())
  print("Rentals maximum: ", df1['Rentals'].std())

  print("Avg per visit mean: ", df1['Avg Per Visit'].mean())
  print("Avg per visit median: ", df1['Avg Per Visit'].median())
  print("Avg per visit minimum: ", df1['Avg Per Visit'].min())
  print("Avg per visit maximum: ", df1['Avg Per Visit'].max())
  print("Avg per visit standard deviation: ", df1['Avg Per Visit'].std())
  
Question3()

Income mean:  42300.0
Income median:  41000.0
Income minimum:  1000.0
Income maximum:  89000.0
Income standard deviation:  21409.753642216627
Age mean:  31.56
Age median:  30.0
Age minimum:  15
Age maximum:  70
Age standard deviation:  12.000272105758475
Rentals mean:  26.24
Rentals median:  25.0
Rentals minimum:  9
Rentals maximum:  48
Rentals maximum:  10.027635283941828
Avg per visit mean:  2.748
Avg per visit median:  2.75
Avg per visit minimum:  1.1
Avg per visit maximum:  4.7
Avg per visit standard deviation:  0.8981250310667058

In [81]:
# Question 4
# ----------------
# Perform the the following data preparation steps on the data (for each add a new column to the original table for comparison.
#  > Use smoothing by bin means to smooth the values of the Age attribute. Use a bin depth of 4.
#  > Use min-max normalization to transform the values of the Income attribute onto the range [0.0-1.0].
#  > Use z-score normalization to standardize the values of the Rentals attribute.
#  > Discretize the (original, non-normalized) Income attribute based on the following categories: 
#    High = 60K+; Mid = 25K-59K; Low = less than $25K.
# ----------------

# Sort to manually determine correct binning
# df1.sort_values(by=['Age'], ascending=True)

# Divide age values into bins with depth of 4
# For equal-depth, create 13 bins with last bin having depth = 2
# bin1 = numpy.zeros(1, 4)
# bin2 = numpy.zeros(1, 4)
# bin3 = numpy.zeros(1, 4)
# bin4 = numpy.zeros(1, 4)
# bin5 = numpy.zeros(1, 4)
# bin6 = numpy.zeros(1, 4)
# bin7 = numpy.zeros(1, 4)
# bin8 = numpy.zeros(1, 4)
# bin9 = numpy.zeros(1, 4)
# bin10 = numpy.zeros(1, 4)
# bin11 = numpy.zeros(1, 4)
# bin12 = numpy.zeros(1, 4)
# bin13 = numpy.zeros(1, 2)


for age in df1['Age'].iteritems():
    print(age)
    

# def Smoothing_By_Bin_Means():

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)
(10, 11)
(11, 12)
(12, 13)
(13, 14)
(14, 15)
(15, 16)
(16, 17)
(17, 18)
(18, 19)
(19, 20)
(20, 21)
(21, 22)
(22, 23)
(23, 24)
(24, 25)
(25, 26)
(26, 27)
(27, 28)
(28, 29)
(29, 30)
(30, 31)
(31, 32)
(32, 33)
(33, 34)
(34, 35)
(35, 36)
(36, 37)
(37, 38)
(38, 39)
(39, 40)
(40, 41)
(41, 42)
(42, 43)
(43, 44)
(44, 45)
(45, 46)
(46, 47)
(47, 48)
(48, 49)
(49, 50)

In [105]:
# Question 5
# ----------------
# Convert the original table into the standard spreadsheet format.
# ----------------

# Need a list of strings of binary values to determine whether or not data is male
# Iterate down 'Gender' column.
    # If Male, insert 1 into list.
attribute1 = numpy.zeros((50), dtype=int)
        
for index, gender in df1['Gender'].items():
#     print('index:', index)
#     print('gender:', gender)
    if gender == 'M':
        attribute1[index] = 1
        
# print(attribute1)
# Insert new column into dataframe for Gender=M
df1.insert(1, "Gender=M", attribute1, True) 
print(df1)

    Cust ID  Gender=M Gender  Gender=M  Gender=M   Income Age  Rentals  \
0         1         1      M         1         1  $45,000   1       27
1         2         0      F         0         0  $54,000   2       12
2         3         0      F         0         0  $32,000   3       42
3         4         0      F         0         0  $59,000   4       16
4         5         1      M         1         1  $37,000   5       25
5         6         1      M         1         1  $18,000   6       33
6         7         0      F         0         0  $29,000   7       19
7         8         1      M         1         1  $74,000   8       31
8         9         1      M         1         1  $38,000   9       18
9        10         0      F         0         0  $65,000  10       21
10       11         0      F         0         0  $41,000  11       48
11       12         0      F         0         0  $26,000  12       29
12       13         1      M         1         1  $83,000  13       14
13       14         1      M         1         1  $45,000  14       24
14       15         1      M         1         1  $68,000  15       36
15       16         1      M         1         1  $17,000  16       26
16       17         1      M         1         1  $36,000  17       28
17       18         0      F         0         0   $6,000  18       39
18       19         0      F         0         0  $24,000  19       41
19       20         1      M         1         1  $12,000  20       23
20       21         0      F         0         0  $47,000  21       11
21       22         1      M         1         1  $25,000  22       16
22       23         0      F         0         0   $2,000  23       30
23       24         0      F         0         0  $79,000  24       22
24       25         1      M         1         1   $1,000  25       25
25       26         0      F         0         0  $56,000  26       40
26       27         0      F         0         0  $62,000  27       32
27       28         1      M         1         1  $57,000  28       22
28       29         0      F         0         0  $15,000  29       37
29       30         1      M         1         1  $41,000  30       17
30       31         0      F         0         0  $49,000  31       15
31       32         1      M         1         1  $47,000  32       21
32       33         1      M         1         1  $23,000  33       28
33       34         0      F         0         0  $29,000  34       19
34       35         1      M         1         1  $74,000  35       43
35       36         0      F         0         0  $29,000  36       34
36       37         1      M         1         1  $89,000  37       12
37       38         1      M         1         1  $41,000  38       20
38       39         0      F         0         0  $68,000  39       19
39       40         1      M         1         1  $17,000  40       32
40       41         0      F         0         0  $50,000  41       17
41       42         1      M         1         1  $32,000  42       26
42       43         0      F         0         0  $49,000  43       48
43       44         1      M         1         1  $35,000  44       24
44       45         1      M         1         1  $56,000  45       30
45       46         0      F         0         0  $57,000  46        9
46       47         0      F         0         0  $69,000  47       22
47       48         0      F         0         0  $52,000  48       14
48       49         1      M         1         1  $31,000  49       42
49       50         1      M         1         1  $24,000  50       33

    Avg Per Visit Incidentals   Genre  age_bins
0             2.5         Yes  Action  (21, 29]
1             3.4          No   Drama  (29, 35]
2             1.6          No  Comedy  (15, 21]
3             4.2         Yes   Drama  (52, 70]
4             3.2         Yes  Action  (29, 35]
5             1.7          No  Action  (15, 21]
6             3.8          No   Drama  (35, 52]
7             2.4         Yes  Action  (21, 29]
8             2.1          No  Comedy  (15, 21]
9             3.3          No   Drama  (35, 52]
10            2.3         Yes   Drama  (21, 29]
11            2.9         Yes  Action  (21, 29]
12            3.6          No  Comedy  (35, 52]
13            2.7          No   Drama  (35, 52]
14            2.7         Yes  Comedy  (29, 35]
15            2.2         Yes  Action  (15, 21]
16            3.5         Yes   Drama  (29, 35]
17            1.8         Yes  Action  (15, 21]
18            3.1          No  Comedy  (21, 29]
19            2.2         Yes  Action  (15, 21]
20            3.1          No   Drama  (35, 52]
21            2.9         Yes   Drama  (29, 35]
22            2.5          No  Comedy       NaN
23            3.8         Yes   Drama  (29, 35]
24            1.4         Yes  Comedy  (15, 21]
25            2.6         Yes  Action  (29, 35]
26            3.6          No   Drama  (35, 52]
27            4.1          No  Comedy  (35, 52]
28            2.1         Yes  Action  (15, 21]
29            1.4         Yes  Action  (21, 29]
30            3.2          No  Comedy  (52, 70]
31            3.1         Yes   Drama  (29, 35]
32            2.7          No  Action  (21, 29]
33            2.9         Yes  Action  (29, 35]
34            4.6         Yes  Action  (21, 29]
35            2.3          No  Comedy  (15, 21]
36            1.2          No  Comedy  (35, 52]
37            3.3         Yes   Drama  (35, 52]
38            3.9          No  Comedy  (29, 35]
39            1.8          No  Action  (15, 21]
40            1.4          No   Drama  (29, 35]
41            2.2         Yes  Action  (21, 29]
42            3.3         Yes   Drama  (21, 29]
43            1.7          No   Drama  (21, 29]
44            3.5         Yes   Drama  (35, 52]
45            1.1          No   Drama  (35, 52]
46            2.8         Yes   Drama  (29, 35]
47            1.6          No   Drama  (35, 52]
48            3.4         Yes  Action  (21, 29]
49            4.7          No  Action  (15, 21]

In [92]:
# Question 6
# ----------------
# Using the standardized data set (from part 5), perform basic correlation analysis among the attributes.
# Discuss your results by indicating any strong correlations (positive or negative) among pairs of attributes. 
# You need to construct a complete Correlation Matrix.
# ----------------